src/main/plugin/iso19115.MERIDIAN/schema/extensions/MERIDIANExtensions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://standards.iso.org/iso/19115/-2/gmi/1.0" elementFormDefault="qualified" version="0.1" 
xmlns:gmi="http://standards.iso.org/iso/19115/-2/gmi/1.0"
xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" 
xmlns:gsr="http://www.isotc211.org/2005/gsr" xmlns:gco="http://www.isotc211.org/2005/gco" 
xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:gss="http://www.isotc211.org/2005/gss" 
xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" 
xmlns:srv="http://www.isotc211.org/2005/srv" xmlns:dcterms="http://purl.org/dc/terms/" 
xmlns:dwc="http://rs.tdwg.org/dwc/terms/" xmlns:dwr="http://rs.tdwg.org/dwc/dwcrecord/"
>
	
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gts" schemaLocation="../gts/gts.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../gml/gml.xsd"/>
	<xs:import namespace="http://rs.tdwg.org/dwc/terms/" schemaLocation="mer_dwcterms.xsd"/>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/dcterms.xsd"/>
    <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/dc.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
    <xs:import namespace="http://rs.tdwg.org/dwc/dwcrecord/" schemaLocation="mer_dwc_classes.xsd"/>
    <xs:import namespace="http://rs.tdwg.org/dwc/terms/" schemaLocation="mer_dwc_class_terms.xsd"/>
    <!-- is this last namespace going to work when the url is dead? -->
    <!--xs:include schemaLocation="../gmi/gmi.xsd"/-->
    <!-- Need to adjust path/namespace most likely! -->
	<xs:annotation>
		<xs:documentation>
This file originally contained extensions of the ISO19139 gmd schema 
objects for the Australian Marine Community Profile Version 1.3, 1.4 and 2.0

It has been revised to contain extensions of the ISO 19139 gmd schema to support
ISO 19139 and the MERIDIAN profile (v0.2). 

Rules (added in August 2007) are read from schematrons and applied to 
the XML as the second stage of a new validate function. The first stage of the 
validate function checks against this schema definition file.

History:

Simon Pigot, January 2008 
Added Creative Commons as a substitute for gmd:MD_Constraints

Simon Pigot, December 2008
Added DataParameters to mcp:MD_DataIndentification
Added Data Commons as a substitute for gmd:MD_Constraints

Craig Jones, May 2010
Added dataObject to gmd:MD_ScopeCode code list.

Simon Pigot, July 2010
Reorganise for MCP 1.4

Simon Pigot, March 2013  
Version 2.0 changes: mcp:taxonomicCoverage and mcp:dataParameter mods

Kim Mortimer, September 2018
Revised to serve MERIDIAN

		</xs:documentation>
	</xs:annotation>
	
	<!-- namespaces might be a problem -->

<!-- ====================================================================== -->
<!-- Add Darwin Core to MD_DataIdentification -->
<!-- ====================================================================== -->

	<xs:element name="MD_DataIdentification" substitutionGroup="gmd:AbstractMD_Identification" type="gmd:MD_DataIdentification_Type"/>

	<xs:complexType name="MD_DataIdentification_Type">
		<xs:complexContent>
			<xs:extension base="gmd:MD_DataIdentification_Type">
				<xs:sequence>
					<xs:element name="darwinCore" type="dwr:DarwinRecordSet_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_DataIdentification"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MD_DataIdentification_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mcp:MD_DataIdentification"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
<!-- ====================================================================== -->
<!-- Darwin Core Definitions -->
<!-- ====================================================================== -->
	<!-- imported mer_dwc_classes -->
    <!-- imported mer_dwc_class_terms -->
	<!-- imported mer_dwcterms -->
	
	<!-- ISO 19115-2 extensions -->
	<!-- do we need these? because these are defined in the gmi.xsd, but it's unclear if Geonetwork will import them..-->
	<!-- LE_ProcessStep 
	<xs:complexType name="LE_ProcessStep_Type">
	  <xs:annotation>
		<xs:documentation>
		  Add LE_ProcessStep as an extension of gmd:LI_ProcessStep_Type
		</xs:documentation>
	  </xs:annotation>
	  <xs:complexContent>
		<xs:extension base="gmd:LI_ProcessStep_Type">
		  <xs:sequence minOccurs="0">
			<xs:element name="gmi:source" type="gmi:LE_Source" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="gmi:processingInformation" type="gmi:LE_Processing" minOccurs="0" maxOccurs="1"/>
			<xs:element name="gmi:output" type="gmi:LE_Source" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="gmi:report" type="gmi:LE_ProcessStepReport" minOccurs="0" maxOccurs="unbounded"/>
		  </xs:sequence>
		  <xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Constraints"/>
		</xs:extension>
	  </xs:complexContent>
	</xs:complexType>
    
	<xs:element name="LE_ProcessStep" substitutionGroup="gmd:LI_ProcessStep" type="gmi:LE_ProcessStep_Type"/>
    -->
	<!-- LE_Source 
	<xs:complexType name="LE_Source_Type">
	  <xs:annotation>
		<xs:documentation>
		  Add LE_Source as an extension of gmd:LI_Source_Type
		</xs:documentation>
	  </xs:annotation>
	  <xs:complexContent>
		<xs:extension base="gmd:LI_Source_Type">
		  <xs:sequence minOccurs="0">
			<xs:element name="gmi:sourceStep" type="gmd:LI_ProcessStep" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="gmi:processedLevel" type="gmd:RS_Identifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="gmi:resolution" type="gmi:LE_NominalResolution" minOccurs="0" maxOccurs="1"/>
		  </xs:sequence>
		  <xs:attribute ref="gco:isoType" use="required" fixed="gmd:LI_Source"/>
		</xs:extension>
	  </xs:complexContent>
	</xs:complexType>

	<xs:element name="LE_ProcessStep" substitutionGroup="gmd:LI_Source" type="gmi:LE_Source_Type"/>
    -->
	<!-- LE_ProcessStepReport 
	<xs:complexType name="LE_ProcessStepReport">
		<xs:annotation>
			<xs:documentation>
			  Add LE_ProcessStepReport
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:sequence minOccurs="0">
				<xs:element name="gmi:name" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="gmi:description" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="gmi:fileType" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LE_ProcessStepReport" type="gmi:LE_ProcessStepReport_Type"/>
    -->
	<!-- LE_Processing 
	<xs:complexType name="LE_Processing">
		<xs:annotation>
			<xs:documentation>
			  Add LE_Processing
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:sequence minOccurs="0">
				<xs:element name="gmi:identifier" type="gmd:RS_Identifier" minOccurs="1" maxOccurs="1"/>
				<xs:element name="gmi:softwareReference" type="gmd:CI_Citation" minOccurs="0" maxOccurs="1"/>
				<xs:element name="gmi:procedureDescription" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="gmi:documentation" type="gmd:CI_Citation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="gmi:algorithm" type="gmi:LE_Algorithm" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LE_Processing" type="gmi:LE_Processing_Type"/>
    -->
	<!-- LE_NominalResolution 
	<xs:complexType name="LE_NominalResolution">
		<xs:annotation>
			<xs:documentation>
			  Add LE_NominalResolution
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:sequence minOccurs="0">
				<xs:element name="gmi:scanningResolution" type="gco:Distance_PropertyType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="gmi:groundResolution" type="gco:Distance_PropertyType" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LE_NominalResolution" type="gmi:LE_NominalResolution_Type"/>
    -->
	<!-- LE_Algorithm
	<xs:complexType name="LE_Algorithm">
		<xs:annotation>
			<xs:documentation>
			  Add LE_Algorithm
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:sequence minOccurs="0">
				<xs:element name="gmi:citation" type="gmd:CI_Citation" minOccurs="1" maxOccurs="1"/>
				<xs:element name="gmi:description" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LE_Algorithm" type="gmi:LE_Algorithm_Type"/>
    -->
	<!-- MI_Georectified 
	<xs:complexType name="MI_Georectified_Type">
	  <xs:annotation>
		<xs:documentation>
		  Add MI_Georectified as an extension of MD_Georectified
		</xs:documentation>
	  </xs:annotation>
	  <xs:complexContent>
		<xs:extension base="gmd:MD_Georectified_Type">
		  <xs:sequence minOccurs="0">
			<xs:element name="gmi:checkPoint" type="gmi:MI_GCP" minOccurs="0" maxOccurs="unbounded"/>
		  </xs:sequence>
		  <xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Georectified"/>
		</xs:extension>
	  </xs:complexContent>
	</xs:complexType>
    
	<xs:element name="MI_Georectified" substitutionGroup="gmd:MD_Georectified" type="gmi:MI_Georectified_Type"/>
    -->
	<!-- MI_Georeferencable 
	<xs:complexType name="MI_Georeferencable_Type">
	  <xs:annotation>
		<xs:documentation>
		  Add MI_Georeferencable as an extension of MD_Georeferencable
		</xs:documentation>
	  </xs:annotation>
	  <xs:complexContent>
		<xs:extension base="gmd:MD_Georeferencable_Type">
		  <xs:sequence minOccurs="0">
			<xs:element name="gmi:geolocationInformation" type="gmi:MI_GCPCollection" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="gmi:platformParameters" type="gmi:MI_Platform" minoccurs="0" maxOccurs="1"/>
		  </xs:sequence>
		  <xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Georeferencable"/>
		</xs:extension>
	  </xs:complexContent>
	</xs:complexType>

	<xs:element name="MI_Georeferencable" substitutionGroup="gmd:MD_Georeferencable" type="gmi:MI_Georeferencable_Type"/>
    -->
	<!-- MI_CoverageDescription -->
	<!-- MI_ImageDescription -->
	<!-- MI_Band -->
	<!-- MI_GCP -->
	<!-- MI_GCPCollection -->
</xs:schema>
